body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #a9a8ad;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px #0d1b40;
}

.product {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #b3b1b2;
    border-radius: 20px;
    display: inline-block;
}

.product img {
    text-align: center;
    width: 250px;
}

footer {
    background-color: #abaaaf;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

header h1 {
    font-family: 'Cinzel', serif;
    font-weight: 700; /* tebal elegan */
    font-size: 3rem;
    letter-spacing: 2px; /* jarak antar huruf */
    color: #0d1b40; /* biru gelap premium */
}

h1, h2, h3 {
    font-family: 'Cinzel', serif;
}

.logo {
    height: 150px; /* tinggi logo */
    margin-right: 15px;
    vertical-align: middle;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a9a8ad;
    padding: 10px 20px;
    color: white;
}

header h1 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
}
